.sidebar {
  padding: 0 12px;
  .sidebar-heading {
    padding: 0.35rem 1.5rem 0.35rem 0.6rem;
  }
  .sidebar-item:not(.sidebar-heading) {
    font-size: 0.9em;
    padding: 8px 16px;
    line-height: 1.5;
    font-size: .9rem;

    &.router-link-active {
      background-color: rgba(var(--el-color-primary-rgb), .1);
      border-radius: 8px;
      border: none;
    }
  }
}

h2 {
  border-bottom: none;
  padding-top: calc(1rem + var(--navbar-height) + 20px) !important;
}

h2 + table {
  display: table;
  width: 100% !important; /*表格宽度*/
  max-width: 65em; /*表格最大宽度，避免表格过宽*/
  margin: 16px auto; /*外边距*/
  border-collapse: collapse !important; /*使用单一线条的边框*/
  empty-cells: show !important; /*单元格无内容依旧绘制边框*/

  tr {
    border: none !important;
    margin: 0;
    padding: 0;
  }

  th, td {
    height: 35px; /*统一每一行的默认高度*/
    border: 1px solid var(--c-border) !important; /*内部边框样式*/
    background: white;
    font-size: 14px;
    line-height: 1.6;
  }

  th {
    font-weight: bold; /*加粗*/
    background: var(--c-brand-light); /*背景色*/
    text-align: left !important;
    white-space: nowrap; /*表头内容强制在一行显示*/
    padding: 4px 12px; /*内边距*/
  }


  td:nth-child(1) {
    width: 120px !important;
    white-space: nowrap;
  }

  td:nth-child(2) {
    min-width: 200px !important;
  }

  td {
    padding: 8px 12px; /*内边距*/
  }
}

.theme-default-content code {
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  background-color: #fff5f5 !important;
  color: #ff502c;
  font-size: .87em;
  padding: 0.065em 0.4em;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
}

// 搜索
:root {
  --search-bg-color: #ffffff;
  --search-accent-color: #3eaf7c;
  --search-text-color: #2c3e50;
  --search-border-color: #eaecef;

  --search-item-text-color: #5d81a5;
  --search-item-focus-bg-color: #f3f4f5;

  --search-input-width: 12rem;
  --search-result-width: 16rem;
}